@model RewardRecycle.Models.NfcCardModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NfcCardModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserModel.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastScanDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastScanDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
